[# 
transforms.j2 

A macro for inserting the transforms into the code

this is super awesome and makes these transforms way easier

Note: Make sure code inserts are accurate to c++ funcs
#]

[% macro trans_base64() -%]
    // [Transform] Base64 Encode
    base64_encode_inplace(payload);
[%- endmacro %]

[% macro trans_base64url() -%]
    // [Transform] Base64 URL Encode
    base64url_encode_inplace(payload);
[%- endmacro %]

[% macro trans_mask() -%]
    // [Transform] XOR Masking
    xor_mask(payload);
[%- endmacro %]

[% macro trans_append(val) -%]
    // [Transform] Append Data
    //payload += "[[ val ]]";
    transform_append(payload, "[[ val ]]");
[%- endmacro %]

[% macro trans_prepend(val) -%]
    // [Transform] Prepend Data
    //payload = "[[ val ]]" + payload;
    transform_prepend(payload, "[[ val ]]");
[%- endmacro %]

[% macro trans_netbios(val) -%]
    // [Transform] netbios conversion
    netbios_encode(payload);
[%- endmacro %]

[% macro trans_netbiosu(val) -%]
    // [Transform] netbiosu conversion
    netbiosu_encode(payload);
[%- endmacro %]

[# --- THE DISPATCHER --- #]
[# This logic acts as the switch statement #]
[% macro render_transform_output(transform_object) -%]
    [% if transform_object.statement == 'base64' %]
        [[ trans_base64() ]]
        
    [% elif transform_object.statement == 'base64url' %]
        [[ trans_base64url() ]]
        
    [% elif transform_object.statement == 'mask' %]
        [[ trans_mask() ]]
        
    [% elif transform_object.statement == 'append' %]
        [[ trans_append(transform_object.value) ]]
        
    [% elif transform_object.statement == 'prepend' %]
        [[ trans_prepend(transform_object.value) ]]
        
    [% elif transform_object.statement == 'netbios' %]
        [[ trans_netbios(transform_object.value) ]]
        
    [% elif transform_object.statement == 'netbiosu' %]
        [[ trans_netbiosu(transform_object.value) ]]
        

    [% endif %]
[%- endmacro %]