[#

Final output for comms.h

#]

[# Include common headers here, each indivudual will have comms specific ones too #]
#include <vector>
#include <iostream>
#include "data/transforms/transforms.h"
#include "data/msgpack/msgpack.h"
#include "protocols/json/json.h"
#include "modules/metadata.h" //for whatever reason, this doesn't get included in the jinja template. it's in the wininet_comms template and works there.
#include "debug/debug.h"



[% for comms_code in comms_code_list %]
{{ comms_code }}
[% endfor %]