[#

Final output for comms.h

#]

[# Include common headers here #]
#include <vector>
#include "data/transforms/transforms.h"
#include "data/msgpack/msgpack.h"
#include "protocols/json/json.h"
#include "_debug/debug.h"



[% for comms_code in comms_code_list %]
{{ comms_code }}
[% endfor %]