[# http_add_headers_or_parameters.j2 #]

[% macro add_header(key, value) -%]
    //add [[key]] with value of [[value]]:
    headers.push_back(L"[[key]]: [[value]]");
[%- endmacro %]

[% macro add_parameter(key, value) -%]
    //add to param vector...
    // Append '?' or '&' depending on existing query string
    if (uri.find(L'?') != std::wstring::npos) {
        uri += L"&";
    } else {
        uri += L"?";
    }
    uri += L"[[key]]=[[value]]";
[%- endmacro %]


[# ---DISPATCHER --- #]
[% macro render_add_headers_or_parameters(transform_object) -%]

    [% if transform_object.name == 'header' %]
        [[ add_header(transform_object.key, transform_object.value) ]]

    [% elif transform_object.name == 'parameter' %]
        [[ add_parameter(transform_object.key, transform_object.value) ]]

    [% endif %]

[%- endmacro %]

