[# 
transforms_reverse.j2

Reverse / undo versions of metadata transforms

IMPORTANT:
- These macros assume transforms are applied in reverse order (aka, pass in list.reverse())
- This file undoes what transforms.j2 applies
#]

[% macro rev_base64(target) %]
    // [Reverse Transform] Base64 Decode
    base64_decode_inplace([[ target ]]);
[% endmacro %]

[% macro rev_base64url(target) %]
    // [Reverse Transform] Base64 URL Decode
    base64url_decode_inplace([[ target ]]);
[% endmacro %]

[% macro rev_mask(target) %]
    // [Reverse Transform] XOR Mask (same op reverses)
    xor_mask([[ target ]]);
[% endmacro %]

[% macro rev_append(target, val) %]
    // [Reverse Transform] Undo Append
    undo_transform_append([[ target ]], "[[ val ]]"s);
[% endmacro %]

[% macro rev_prepend(target, val) %]
    // [Reverse Transform] Undo Prepend
    undo_transform_prepend([[ target ]], "[[ val ]]"s);
[% endmacro %]

[% macro rev_netbios(target) %]
    // [Reverse Transform] NetBIOS Decode
    netbios_decode([[ target ]]);
[% endmacro %]

[% macro rev_netbiosu(target) %]
    // [Reverse Transform] NetBIOSu Decode
    netbiosu_decode([[ target ]]);
[% endmacro %]

[# --- THE REVERSE DISPATCHER --- #]
[# Acts like a reverse switch statement #]
[% macro render_reverse_transform(transform_object, target_var) %]

    [% if transform_object.statement == 'base64' %]
        [[ rev_base64(target_var) ]]

    [% elif transform_object.statement == 'base64url' %]
        [[ rev_base64url(target_var) ]]

    [% elif transform_object.statement == 'mask' %]
        [[ rev_mask(target_var) ]]

    [% elif transform_object.statement == 'append' %]
        [[ rev_append(target_var, transform_object.value) ]]

    [% elif transform_object.statement == 'prepend' %]
        [[ rev_prepend(target_var, transform_object.value) ]]

    [% elif transform_object.statement == 'netbios' %]
        [[ rev_netbios(target_var) ]]

    [% elif transform_object.statement == 'netbiosu' %]
        [[ rev_netbiosu(target_var) ]]

    [% endif %]

[% endmacro %]